<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>achieve-site</display-name>

	<filter>
		<filter-name>InDispath</filter-name>
		<filter-class>com.absir.servlet.InDispathContext</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>InDispath</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<jsp-config>
		<jsp-property-group>
			<display-name>JSPConfiguration</display-name>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>

	<!-- <error-page> <exception-type>java.lang.Exception</exception-type> <location>/WEB-INF/jsp/error/uncaughtException.jsp</location> 
		</error-page> <error-page> <error-code>404</error-code> <location>/WEB-INF/jsp/error/resourceNotFound.jsp</location> 
		</error-page> -->
</web-app>
