.ab_aw{width: auto}
.ab_af{width: 100%}
.ab_ah{height: auto}
.ab__mt5{margin-bottom: -5px}
.ab_normal{font-size: 14px; font-weight: normal; font-style: normal}
.ab_large{font-size: 108%}
.ab_icon{font-family: "FontAwesome" !important}
.ab_check{zoom: 1.3; margin-top: 4px !important}
.ab_sel_select, tr.ab_sel_select td{background:#f5fafe !important}
.ab_nav_btn{line-height:1.6em; margin-top:4px}
.ab_td_input{width: 90%;}