html,body{min-height:101%}
html{overflow:-moz-scrollbars-vertical}
.verifyCode{cursor: pointer}
.ab_aw{width: auto}
.ab_af{width: 100%}
.ab_ah{height: auto}
.ab_m0{margin: 0}
.ab_p0{padding: 0}
td.ab_p0{padding: 0 8px}
.ab__mt5{margin-bottom: -5px}
.ab_normal{font-size: 14px; font-weight: normal; font-style: normal}
.ab_large{font-size: 108%}
.ab_td_icon{font-size: 18px; cursor: pointer}
.ab_icon{font-family: "FontAwesome" !important}
.ab_icon_success{color: #468847}
.ab_icon_error{color: #b94a48}
.ab_check{zoom: 1.3; margin-top: 4px !important}
td .ab_check{zoom: 1}
.ab_sel_select, tr.ab_sel_select td{background:#f5fafe !important}
.ab_nav_btn{line-height:1.6em; margin-top:4px}
.ab_td_input{width: 90% !important; font-size: 14px; height: 31px; line-height: 31px; border: solid 1px #ddd}
.ab_search_input{width: 260px}
.ab_search_more{width: 100%; display: none}
.ab_search_more.open{display: block}
.ab_nav_close{margin-left: 5px; margin-right: -20px}
.input-text{background: #fff}
input:read-only, .ab_locked{background: #f6f6f6 !important}
input.required{background: url("../images/required.png") right center no-repeat}
.ab_requiredDiv label.error{right: 25px; z-index: 1000}
.btn-upload{overflow: visible}
.btn-upload .input-file{bottom: 0; width: 96px}
.btn-upload label.error{right: -100px; z-index: 1000}
.ab_span{position: relative}
.ab_span .ab_span_l{width: 49.5%; position: absolute; left: 0}
.ab_span .ab_span_r{width: 49.5%; position: absolute; right: 0}
.ab_err {color: #f00}
.bootstrap-select.input-text{width: 100% !important; padding: 0;border: 0}
.bootstrap-select.input-text>button{line-height: 21px !important}
.bootstrap-select.ab_td_input{border: 0}